# Build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Vita build artifacts
*.vpk
*.velf
*.elf
*.self
*.suprx
*.skprx
*.o
*.a

# Logs/temp
*.log
*.tmp

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
